<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Finalizada</title>
</head>
<body>
    <div id="purchase-message">
        <h1>¡Gracias por tu compra!</h1>
        <p>El ID de tu compra es: {{purchaseId}}</p>
    </div>
</body>
</html>