<body>
    <form id="registerForm" >
    <h2>Registro de Usuario</h2>
        <label >Nombre:</label>
        <input name="name" required >

        <label >Apellido:</label>
        <input  name="lastName" required>

        <label >Correo Electrónico:</label>
        <input type="email" name="email"required >

        <label >Edad:</label>
        <input name="age" required>

        <label >Contraseña:</label>
        <input type="password" name="password" required >

        <button type="submit">Registrar</button> 
        <small><p>¿Ya tienes una cuenta? <a href="/login">Iniciar Sesión</a></p></small>
    </form>

<script src="/js/register.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>